
.hero{
    position: relative;
    height: 505px;
    &__img{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;

       &:before{
           content: '';
           position: absolute;
           top: 0;
           left: 0;
           height: 100%;
           width: 100%;
           z-index: -1;
           background-color: rgba(0,0,0, 0.35);
           backdrop-filter: blur(0.3px);
       }
       img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        object-fit: cover;
        object-position: 0px 36%;
       }
       
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        color: #fff;
        font-size: 80px;
        // &-text{
        //     font-size: 18px;
        //     font-weight: 200;
        // }
        &-btn{
            background-color: #fff;
            font-weight: 100;
            padding: 10px 40px;
            font-size: 39px;
            border-radius: 20px;
            border-color: transparent;
            cursor: pointer;
            transition: ease-in-out 0.2s;
            z-index: 2;
            &:hover{
                background-color: rgb(167, 167, 167);
            }
        }
    }
}