.goal{
    padding: 70px 0px;
    flex-flow: row wrap;
    &__title{
        @media screen and (min-width: 1400px)   {
            writing-mode: vertical-lr;
        }
        font-size: 68px;
        font-weight: 400;
        margin: 0;
        // float: right;
    }
    &__icon{
        //jawha behi
        @media screen and (max-width: 1400px)   {
            margin: auto 0 ;
        }
    }
    h2{
        font-size: 20px;
    }
}

.warka{
    display: flex;
    float: right;
    z-index: -1;
}