.footer{
    background-color: #D4D4D4;
    // position:absolute;
    // bottom: 0;
    width: 100%;
    height: 59px;
    left: 0;
    
    &__logo{
        display: flex;
        float: left;
        height: 50px;
    }
    &__copyrights{
        display: flex;
        float: right;
        font-size: 15px;
        padding-top: 19px;
    }
}