.footer{
    background-color: #D4D4D4;
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    
    &__logo{
        display: flex;
        float: left;
        height: 55px;
    }
    &__copyrights{
        display: flex;
        float: right;
        font-size: 20px;
        padding-top: 19px;

    }
}