// $green_color : #2A9318;

.Nav{
    // border-radius: 1rem;
    // background-color: grey;
    &__Logo{
        width:115px;
        height:48px;
    }
    &__List{
        &-link{
            font-weight: bold;
            margin-left: 10px;
            // color: $green_color;
        }
    }
}