// $green_color : #2A9318;

.Nav{
    // border-radius: 1rem;
    // background-color: grey;
    &__Logo{
        width:150px;
        height:30px;
    }
    &__List{
        &-link{
            font-weight: bold;
            // color: $green_color;
        }
    }
}